<%- include("partials/header") %>
<%- include("partials/navbar") %>

    <header class="jumbotron text-center">
        <h1 class="display-1 mb-4">Campgrounds</h1>
        <a class="btn btn-primary" href="/campgrounds/new">Add New Campground</a>
    </header>

<div class="container">

    <div class="row">
        <% campgrounds.forEach(function(camp){ %>
            <div class="col-6 col-md-4 text-center">
                    <h3><%= camp.name%></h3>
                        <img class="img-thumbnail" src="<%=camp.image%>">
            </div>
        <% }) %>
    </div>
</div>
<%- include("partials/footer") %>
